




#background {
  background-image: image-url('podcastlanding.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#main_header {
  color: black;
  background: white;
  padding: 1rem 0 3rem 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  // padding: 3rem 0;
}

nav {
  float: right;
  margin: 0;
}

ul {
  margin: 0;
}

.button {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
  margin: 1.5rem 2.5% 0 2.5%;
}

.button_highlight {
  background: red;
}

.button_white {
  background: white;
  color: black;
  transition: background .4s ease-in-out;
}

#logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: black;
      text-decoration: none;
    }



.wrapper_wide{
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}



h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding: 8rem 0;
}

// .cf :before, .cf :after {
//   content: "";
//   display: table;
// }
//
// .cf :after {
//   clear: both;
// }

#list li {
    list-style-type: none;
    display: inline;
    margin-left: 2.5rem;
}
#list li a{
    color: black;
    text-decoration: none;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 75%;
  height: 2.5rem;
  padding: .25rem 1rem;
  background: #EDEFF5;
  border: 1px solid;
  border-radius: .35rem;
  margin-top: .5rem;
}

.field{
    margin: .5rem 0 1.5rem 0;
  }

  #form {
    padding: 0 0 5rem 0;
  }

  textarea {
    min-height: 8rem;
    margin-top: .5rem !important;
  }

  #form {
    padding: 0 0 5rem 0;
  }

  #banner {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 10rem;
      margin-bottom: 4rem;
    }

    .podcast_banner {
      background-image: image-url('nycbaby.jpg');
      margin: 0;
    }

    @import 'podcasts';
    
